@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

.panel-default > .panel-body {
	background: rgba(114, 114, 114, .5);
	color:#fff;
}
